In [4]:
a=123
b=-178
c=0

print(a)
print(b)
print(c)

123
-178
0

In [5]:
# 실수형

a=1.2
b=-3.45
print(a)
print(b)

1.2
-3.45

In [7]:
print("Hello World!")

Hello World!

In [8]:
a=4.24E10
b=4.24E-10

print(a)
print(b)

42400000000.0
4.24e-10

In [ ]:
# 8진수와 16진수

a=0o177
b= 0xABC
c= 0o11
d=0x11
print("a: ", a)
print("b: ", b)
print("c: ", c)
print("d: ", d)

a:  127
b:  2748
c:  9
d:  17

## 설명
* 0o177= 1*(8* 8)+7*(8)+7
* 0x11= 1* 8 + 1
* 0o111=1*(8*8) +1 *8+1

In [10]:
e = 0o111
print(e)

73

In [11]:
print(0xf)
print(0xA)

15
10

## 사칙연산
* +,-,*,/

In [12]:
a=3
b=4

print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
-1
12
0.75

In [16]:
# x의 y의 제곱을 나타내는 **연산자

a=3
b=4
print(a**b)
print(2**3)

81
8

In [19]:
# 나눗셈 후 나머지를 리턴하는 % 연산자

print(7 % 3)

1

In [20]:
# 나눗셈 후 몫을 리턴하는 // 연산자
print(7/3)
print(7//3)

2.3333333333333335
2

In [9]:
a=3.141597
print("숫자변환:")
print("숫자변환:", "정수와 실수", "python")
print("숫자변환:",a)
print("숫자변환: {} 결과값입니다.".format(a))
print("숫자변환: %f 결과값입니다." %a)
print(f"숫자변환: {a} 결과값입니다.")
print("숫자변환: {:.2f} 결과값입니다.".format(a))
print("숫자변환: %.2f 결과값입니다." %a)
print(f"숫자변환: {a:.2f} 결과값입니다.")

숫자변환:
숫자변환: 정수와 실수 python
숫자변환: 3.141597
숫자변환: 3.141597 결과값입니다.
숫자변환: 3.141597 결과값입니다.
숫자변환: 3.141597 결과값입니다.
숫자변환: 3.14 결과값입니다.
숫자변환: 3.14 결과값입니다.
숫자변환: 3.14 결과값입니다.

In [11]:
a=123
b="123"
c="hello"
d= int(b)
e= int(c)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

ValueError: invalid literal for int() with base 10: 'hello'

In [15]:
a= input("숫자를 입력하세요")
print(a)
b=int(a)
print(type(a))
print(type(b))
print(a+100)

100
<class 'str'>
<class 'int'>

TypeError: can only concatenate str (not "int") to str

In [16]:
print(48/2*(9+3))

288.0